.main-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 34px;
    max-height: 90vh;
    @include column($fstart, $center);
    @include shadow();
    background-color: $brandgray;
    margin: 8px 0 0 8px; 
}

.main-nav ul{
    &.isActive{
        height: auto;
        @include column($fstart, $center);
        overflow: visible;
    }
    @include column($fstart, $center);
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    .menu-item {
        @include row($fstart, $center);
        width: 30px;
        height: 30px;
        margin: 5px 0 0 0;
        padding: 0;
        list-style: none;
        border: none;
        position: relative;
        svg{
            width: 30px;
            height: 30px;
        }
        span{
            width: 0;
            height: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            position: absolute;
            left: 30px;
            top: 0;
            background-color: gray;
            font-family: sans-serif;
            color: white;
            text-align: left;
            font-size: 0.6rem;
            @include row($center, $center);
        }
    }
}
.main-nav .menu-item{
    width: 30px;
    height: 30px;
    &#cv-eng{
        margin: 25px 0 0 0;
    }
    &#portfolio-projects{
        margin: 5px 0 0 0;
    }
    &#linkedin{
        margin: 5px 0 0 0;
    }
    &#github{
        margin: 5px 0 15px 0;
    }
    &:hover{
        cursor: pointer;
        background-color: gray;
        span{
            width: 100px;
            height: 30px;
            border: solid 1px white;
        } 
    }
}
