.project-container.cv-pls-pls {
    transition: all 500ms;
    margin-top: 0;
    &.isActive {
        width: 100%;
        height: 100vh;
    }
    background-color: $backcolor;
    header {
        position: relative;
        .project-container_head_type {
            h2 {
                color: $htmldot;
            }
            .closingBtn {
                display: none;
                width: 0;
                height: 0;
                overflow: hidden;
                opacity: 0;
                &.isActive {
                    display: flex;
                    @include row($center, $center);
                    font-weight: 900;
                    padding: 0.5rem;
                    font-size: 0.7rem;
                    width: 20px;
                    height: 20px;
                    opacity: 1;
                    cursor: pointer;
                    background-color: rgba(255,0,0,0.7);
                    color: white;
                    font-family: sans-serif;
                    position: absolute;
                    right:0;
                    top:0;
                }
            }
        }
        .project-container_head_title {
            color: $brandcolor;
        }
        .project-container_head_about {
            color: $brandcolor;
        }
    }
    main {
        transition: all 500ms;
        &.isActive {
            height: 100%;
        }
        .project-container_positioner {
            position: relative;
            @include lesserShadow();
            border-radius: 3px;
            border: solid 2px $htmldot;
            overflow: hidden;
            width: 100%;
            height: 200px;
            transition: all 500ms;
            &.isActive {
                height: 100%;
            }
            margin: 0.5rem;
            @include column($fstart, $center);
            background-color: $htmldot;
            iframe {
                opacity: 0.2;
                width: 100%;
                height: 100%;
                background-color: $htmldot;
                border: none;
                pointer-events: none;
                transition: all 500ms;
                &.isActive {
                    height: 100%;
                    pointer-events: all;
                    opacity: 1;
                }
            }
            p {
                width: 100%;
                height: 9rem;
                font-size: 0.9rem;
                line-height: 1rem;
                padding: 4rem 0 4rem 0;
                position: absolute;
                top: 50%;
                margin-top: -4.5rem;
                left: 0%;
                background-color: rgba(0, 0, 0, 0.8);
                border-top: 2px solid $htmldot;
                border-bottom: 2px solid $htmldot;
                text-align: center;
                font-family: sans-serif;
                font-weight: 400;
                color: $secondcolor;
                transition: all 500ms;
                &.isActive {
                    width: 0;
                    height: 0;
                    display: none;
                    overflow: hidden;
                    top: 0;
                    left: 0;
                }
            }
            &:hover {
                border-color: $jsdot;
                background-color: rgba(255, 102, 0, 1);
                & p {
                    border-top: solid $jsdot 1px;
                    border-bottom: solid $jsdot 1px;
                }
            }
            &:active {
                opacity: 0.5;
            }
        }
    }
}