.recomendations-temporary-positioner {
    @media only screen and (max-width: 220mm) {
        width:100%;
    }
    margin: 50px auto;
    width: 210mm;
    @include row($saround, stretch);
    flex-wrap: wrap;
    .recomendations-container {
        position: relative;
        width: 49%;
        @media only screen and (max-width: 220mm) {
            width:100%;
            &:nth-of-type(2){
                margin-top: 5px;
            }
        }
        @include shadow();
        @include column($fstart, $fstart);
        background-color: $backcolor;
        header {
            @include row($fstart, $fstart);
            margin: 0 0 2rem 0;
            width: 100%;
            h2 {
                align-self: flex-end;
                margin: 0;
                padding: 0;
                color: $brandcolor;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-family: sans-serif;
            }
        }
        .img-background-and-positioner {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: $brandgray;
            @include row($center, $center);
            margin: 0 auto;
        }
        main {
            padding: 2rem;
            @include column($fstart, $center);
            width:100%;
            margin-bottom: 7rem;
            @media only screen and (max-width: 220mm) {
                padding: 0.5rem;
                margin-bottom: 9rem;
            }
            p {
                width: 100%;
                color: $brandgray;
                font-family: sans-serif;
                line-height: 2rem;
                margin: 0;
            }
        }
        .recomendations_see-profile-or-see-organization {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 2rem 1rem 2rem;
            @media only screen and (max-width: 220mm) {
                padding: 0 0.5rem 1rem 0.5rem;
            }
            width: 100%;
            @include row($fend, $center);
            flex-wrap: wrap;
            span {
                border-top: 1px solid $brandgray;
                display: inline-block;
                width: 100%;
                text-align: right;
                color: $brandcolor;
                font-weight: 700;
                font-family: sans-serif;
                padding: 1rem 0;
            }
            .recomendations_see-profile-or-see-organization_svg-container {
                @include row($fend, $center);
                position: relative;
                cursor: pointer;
                svg {
                    border: 1px solid $brandgray;
                    border-radius: 20px;
                    width: 20px;
                    height: 20px;
                    margin: 5px;
                }
                div.btn-label {
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    display: none;
                    width: 0;
                    height: 0;
                    opacity: 0;
                }
                &:hover {
                    div.btn-label {
                        display: flex;
                        opacity: 1;
                        margin: 0;
                        padding: 0;
                        white-space: nowrap;
                        position: absolute;
                        @include row($center, $center);
                        top: 26px;
                        right: 0px;
                        background-color: $brandgray;
                        color: white;
                        text-align: center;
                        font-size: 0.5rem;
                        font-family: sans-serif;
                        padding: 0.5rem;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
}

/*
<div class="recomendations_see-profile-or-see-organization">
                    <div class="recomendations_see-profile-or-see-organization_svg-container">
                        <svg></svg>
                        <span>zobacz profil</span>
                    </div>
                    <div class="recomendations_see-profile-or-see-organization_first-svg-container">
                        <svg></svg>
                        <span>zobacz organizację</span>
                    </div>
                </div>
                */