$brandcolor: #37A4DC;
$secondcolor: #A0C9EC;
$backcolor: #E7F0FA;
$brandred: #E86B6B;
$brandgray: #5D5D5D;
$cssdot:#5610C4;
$htmldot:rgb(246, 47, 47);
$jsdot:rgb(255, 102, 0);

$fend: flex-end;
$fstart: flex-start;
$center: center;
$saround: space-around;
$sbetween: space-between;

@mixin column($justify, $align){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin row($justify, $align){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin shadow() {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

@mixin lesserShadow() {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}

body {
    background-color:rgba(86, 16, 196, 0.3);
    background-image: url('./../media/background-img.svg');
    background-repeat: repeat;
    background-attachment: fixed;
}
.main-container {
    margin: 0 auto;
    width: 210mm;
    height: 297mm;
    @include row($center, $fstart);
    @include shadow();
    //background-color: $secondcolor;
    background-color: $brandgray;
    @media only screen and (max-width: 220mm){
        height: auto;
        width:100%;
    }
    @media only screen and (max-width: 420px){
        height:auto;
        width:100%;
        flex-wrap: wrap;
    }
}

*{
    box-sizing: border-box;
}